[Desktop Entry]
Name=avinaptic2
Exec=bash -c 'wine "$HOME/wine/avinaptic-win64-20231012/avinaptic2.exe"'
Type=Application
Icon=wine
Categories=Utility;
