[Desktop Entry]
Name=Bulk Rename Utility
Exec=bash -c 'wine "$HOME/wine/bulkrenameutility/64-bit/Bulk Rename Utility.exe"'
Type=Application
Icon=wine
Categories=Utility;
Comment=
Path=
Terminal=false
StartupNotify=false
